@charset "utf-8";
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root{
    --font-logo: 'Poppins', sans-serif;
}

*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family:var(--font-logo) ;
}

body{background-image: url(./img/img-fundo.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
       
header{
    display: flex; justify-content:space-around; align-items: center;
    background-color: #121212; box-shadow: 1px 1px 5px black;
}

a{
    display: flex;
    text-decoration: none;
}

/*        LOGO INTERATIVA          */
.logo{
    display: flex; margin-left: 30px;
}

.box{
    width: 50px; height: 50px; display: flex; justify-content: center;
    align-items: center; font-size: 1.4em; font-weight: 700; color: #ffffff;
    transition: all .8s; cursor: pointer; position: relative;
    background-color: #ca1c2a; overflow: hidden;
}

.box::before{
    content: 'C'; position: absolute; top: 0; background-color: #0f0f0f;
    width: 100%; height: 100%; display: flex; justify-content: center;
    align-items: center; transform: translateY(100%);
    transition: transform .4s;
}
.box:nth-child(2)::before{transform: translateY(-100%); content: 'A';}
.box:nth-child(3)::before{content: 'L';}
.box:nth-child(4)::before{transform: translateY(-100%); content: 'L';}
.logo:hover .box::before{transform: translateY(0);}

/*            NAVBAR           */   
.nav-bar > ul {flex-wrap: wrap; display: flex; justify-content: center; align-items: center;}
li{margin-left: 20px; list-style: none; color: white;}
.link{text-decoration: none; color: #ffffff;}
.link:hover{color: #b73d47;}




/*            Tela de login             */
    main{background-color: white; max-width: 1300px; height: 900px;
        margin: auto; margin-top: 50px; border-radius: 10px; flex-wrap: wrap;
        display: flex; justify-content: space-around; align-items: center;
        padding: 40px 20px 10px 40px; box-shadow: 1px 2px 4px rgb(30, 40, 69);
    } 

/*        Tela da esquerda      */
    .left-login{display: flex; justify-content: center; align-items: center; flex-direction: column;}
    .logo-tc-img{height: 300px; width: 500px}



    /*       Tela da direita - Login      */
    .right-login{height: 400px; background-color: #121212; border-radius: 10px;
                display: flex; align-items: center; justify-content: center;
                padding: 10px 30px 10px 30px; box-shadow: 4px 2px 5px black;
                }
    .login{display: flex; justify-content: center; align-items: center; flex-direction: column;
            margin: 20px;}
    label{margin-bottom: 16px; display: flex; flex-direction: column; text-align: center;}
    ::placeholder{text-align: center;}
    .text-field-left{color: #20628d; text-shadow: 1px 2px 4px rgb(118, 117, 117); font-size: 50px; font-weight: bolder;}
    .text-field-right{letter-spacing: 6px; color: white; margin-bottom: 28px; font-size: 40px; font-weight: bold;}
    p{color: white;}

    .caixa{border-radius: 8px; height: 30px; width: 220px;}

/*      Botão decorado    */
    .btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.btn{
    
  border-radius: 20px;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.btn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.link{color: white;}
.link:hover{color:#3498db;}