@charset "utf-8";

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1,5em;
    font-family: var(--font-secundária);
    font-size: 2vw;
    padding-left: 30px;
}

section.normal{
    background-color: white;

}

section.imagem{
    background-color: rgba(29, 29, 29, 0.918);
    color: white;

}

section p {
    padding-bottom: 10px;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.891);
}

section#img01{
    background-image: url(img/imgg.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#img02{
    background-image: url(img/imgg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imglogo{max-width: 400px; margin-top: 20px; margin-bottom: -100px;}